<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Interval" value="30" /><!-- Number of minutes the app should cycle -->
		<add key="WatchFolder" value="C:\inetpub\ftproot" />
		<add key="TranscodingFolder" value="D:\Transcode-Processing" />
		<add key="OutputFolder" value="D:\Media-Server\Application-Content" />
		<add key="TranscoderArguments" value="TranscoderArguments.txt" />
	</appSettings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>